.body{
    margin:0px;
    width:100%;
    padding:0px;
}
.heading{
     color:#404040;
     font-size:20px;
     background-color: #FFFFFF;
     font-style:italic;
     display:inline-block;
     border-color:#7B7B7B29;
     
}
.tail{
    display:inline-block;
    color:#00A5EC;
    font-style:italic;
    font-size:20px;
}
.add{
    float:right;
}
.button{
    background-color:#00A5EC;
    border-radius:50px;
    width:30px;
    height:30px;
    border:none;
    font-size:20px;
    text-align:center;
}
.tasktext{
    display:inline-block;
}
.card{
    width:250px;
    height:250px;
    border:2px solid #404040;
    background-color:white;
    margin-top:auto;
    padding:5px;
}
.parent{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    height:800px;
    
}
.greybg{
    padding:10px 50px;
    background-color:grey;
    position:absoulte;
    left:1000px;
    top:100px;
    
    width:150px;
    height:40px;

}
.head{
    color:#00A5EC;
    margin:20px;
    font-size:20px;
}
.checkbox{
    margin:20px;
    font-size:40px;
    
}
.check1{
    text-decoration:line-through;
     color:#404040;
     font-size:10px;
     font-style:italic;
    
}
.check2{
    font-size:10px;
    margin-left:-10px;

}
.greyfilter{
    filter:opacity(0.5);
    background-color:#858585;
    filter:brightness(70%);
}
.popup{
    position:absolute;
    border:1px solid black;
    width:300px;
    height:200px;
    background-color:white;

}
.learn{
    color: #858585;
    background-color: #EDEDED;
    border:#EDEDED ;
    border-color:#F7F7F7 ;

}
.task{
    color:white;
    background-color:#00A5EC;
}
.x{
    border-radius:50%;
    border:none;
    width:30px;
    height:30px;
    font-size:20px;
    position:absolute;
    top:10px;
    left:300px;
    text-align:center;
}
.button2{
    background-color:#00A5EC;
    border-radius:50%;
    width:30px;
    height:30px;
    border:none;
    font-size:20px;
    text-align:center;
}
.arrow{
    border: radius 50%;
    border:1px solid #404040;
    width:30px;
    height:30px;
    text-align:center;
    display:inline;
    background-color:#424242;
    color:white;
}
.c3{
    background-color:#67676729;
    width:100%;
    height:800px;
}
back{
    position:absolute;
    top:130px;
    left:400px;
    font-size:25px;
}
.back1{
    display:inline;
}
.card3{
    width:400px;
   height:300px;
   border: 1px solid #67676729;
   border-radius: 10px;
    background-color:#FFFFFF;
    position: absolute;
}
@media only screen and(max-width:540px){
    .add{
      float:none;
      text-align:center;

    }
    .greybg{
        padding:10px 5px;
    }
    .tasktext{
        display:none;
    }
    .parent{
        flex-direction:column;
    }
    .card{
        width:100%;
    }
    .popup{
        left:2%;
        width:95%;
    }
    .card3{
        width:100%;
    }

    
}